body{
    font-family: jost, sans-serif;
    height: 100vh;
    margin: 0;
}

.main-header{
    background: content-box linear-gradient(to right, #fff, #f4cae0 50%,#ada7c9 75%,#90a8c3 100%);
    
}

.main-nav {
    float: right;
    margin-right: 16px;
    display: flex;
    align-items: center;
    line-height: 47px;
}

.main-nav ul li a{
    font-size: 24px;
    text-decoration: none;
    color: #2C2C2C;
    padding: 0 10px 0 10px;
}

.main-nav ul li{
    margin: 0 15px 0 15px;
}

.main-nav ul li a:hover{
    border: 3.5px solid #6750A4;
    border-radius: 10px;
}

.main-nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.main-icon img{
    width: 60px;
    height: 100%;
    margin-left: 16px;
    margin-top: 12px;
}

.main-footer .main-icon{
    position: relative;
    top:35px;
    left: 16px;
}

.main-footer{
    background: content-box linear-gradient(to right, #fff, #f4cae0 50%,#ada7c9 75%,#90a8c3 100%);
    position: fixed;
    bottom:0;
    width: 100vw;
}

.social-media-nav li{
    float: right;
    margin-right: 16px;
    position: relative;
    bottom: 42px;
    display: flex;
    justify-content: space-evenly;
}

.social-media-nav ul li a{
    padding: 0 15px 0 15px;
}

.hamburger-menu-icon{
    line-height: 30%;
    display: none;
    color: #49454f;
}

.social-media-icon{
    width: 40px;
}

#check{
    display:none;
}

.search-bar button{
    background: none;
    border: none;
}

.search-bar input{
    background-color: #ECE6F0;
    border: none;
    font-size: 24px;
    width:560px;

}

.search-bar i{
    bottom: 4px;
    position: relative;
}

.main-card-search{
    background-color: #ECE6F0;
    border: 5px solid #ECE6F0;
    border-radius: 35px;
    padding: 10px;

}
@media(max-width: 800px){
    .main-nav ul{
        flex-direction: column;
        align-items: center;
        position: relative;
        left: -30%;
        margin: 0;
    }

    .main-nav{
        flex-direction: column;
        
    }

    .hamburger-menu-icon{
        line-height: 9vh;
        align-self: flex-end;
        display: block;
    }

    .social-media-nav li{
        bottom: 50px;
    }



}