body{
    font-family: jost, sans-serif;
    height: 100vh;
}

.main-header{
    background: content-box linear-gradient(to right, #fff, #f4cae0 50%,#ada7c9 75%,#90a8c3 100%);
}

.main-nav {
    float: right;
    margin-right: 40px;
    
}

nav ul li a{
    font-size: 24px;
    text-decoration: none;
    color: #2C2C2C;
    padding: 0 10px 0 10px;
}

.main-nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

@media(max-width: 800px){
    .main-nav ul li{
        display: block;
        text-align: center;
    }

}