body{
    font-family: jost, sans-serif;
    height: 100vh;
    margin: 0;
    padding-bottom: 50%; 
    overflow-y: visible;
}

.main-header{
    background: content-box linear-gradient(to right, #fff, #f4cae0 50%,#ada7c9 75%,#90a8c3 100%);
    
}

.main-nav {
    float: right;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    line-height: 2.9375rem;
}

.main-nav ul li a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #2C2C2C;
    padding: 0 0.625rem 0 0.625rem;
}

.main-nav ul li{
    margin: 0 0.9375rem 0 0.9375rem;
}

.main-nav ul li a:hover{
    border: 3.5px solid #6750A4;
    border-radius: 0.625rem;
}

.main-nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.main-icon img{
    width: 3.75rem;
    height: 100%;
    margin-left: 1rem;
    margin-top: 0.75rem;
}

.main-footer .main-icon{
    position: relative;
    top:2.1875rem;
    left: 1rem;
}

.main-footer{
    background: content-box linear-gradient(to right, #fff, #f4cae0 50%,#ada7c9 75%,#90a8c3 100%);
    position: fixed;
    bottom:0;
    width: 100vw;
}

.social-media-nav li{
    float: right;
    margin-right: 1rem;
    position: relative;
    bottom: 2.625rem;
    display: flex;
    justify-content: space-evenly;
}

.social-media-nav ul li a{
    padding: 0 0.9375rem 0 0.9375rem;
}

.hamburger-menu-icon{
    line-height: 30%;
    display: none;
    color: #49454f;
}

.social-media-icon{
    width: 2.5rem;
}

#check{
    display:none;
}

.search-bar button{
    background: none;
    border: none;
}

.search-bar{
    display: flex;

}

.search-bar input{
    background-color: #ECE6F0;
    border: none;
    font-size: 1.5rem;
    width:35rem;

}

.magnifiying-glass-icon{
    width: 3rem;
    height: 3rem;
}

.magnifiying-glass-icon:hover{
    background-color: #d3d3d3;
    width: 3rem;
    height: 3rem;
    border-radius: 3.125rem;
}

.magnifiying-glass-icon i{
    position: relative;
    top: 0.9375rem;
}

.main-card-search{
    background-color: #ECE6F0;
    border: 5px solid #ECE6F0;
    border-radius: 2.1875rem;
    padding: 0.625rem;

}

@media(max-width: 800px){
    .main-nav ul{
        flex-direction: column;
        align-items: center;
        position: relative;
        left: -30%;
        margin: 0;
    }

    .main-nav{
        flex-direction: column; 
    }

    .hamburger-menu-icon{
        line-height: 9vh;
        align-self: flex-end;
        display: block;
    }

    .social-media-nav li{
        bottom: 3.125rem;
    }

}