.main-banner{
    width: 580px;
    height: 172px;
    border: 5px solid #ECE6F0;
    background-color: #ECE6F0;
    position: relative;
    display: flex;
    border-radius: 25px;
    left: 30%;
    top: 4%;
}

.general-button {
    font-size: 24px;
    text-decoration: none;
    color: #2C2C2C;
    padding: 0 10px 0 10px
}

.options{
    position: relative;
    left: 34.5%;
    width:fit-content;
    top:12%;
    display: flex;

}



@media(max-width:800px){
    .main-banner{
        width: 335px;
        left:10%;
    }
}