.main-banner{
    width: 580px;
    height: 172px;
    border: 5px solid #D9D9D9;
    background-color: #D9D9D9;
    position: relative;
    display: flex;
    border-radius: 25px;
    left: 25%;

}

@media(max-width:800px){
    .main-banner{
        width: 335px;
        left:10%;
    }
}