.main-banner{
    position: relative;
    display: flex;
    top: 4%;
    width:100%;
    justify-content: center;

}

.banner-image{
    width: 36.25rem;
    height: 10.75rem;
    border-radius: 0.925rem;
}

.general-button {
    font-size: 1.5rem;
    text-decoration: none;
    color: #2C2C2C;
    padding: 0 0.625rem 0 0.625rem;
}

.options{
    position: relative;
    top:12%;
    display: flex;
    justify-content: center;
}

.set-card{

    flex-shrink: 0;
    padding: 0.3125rem;
}

.set-magic-card{

    flex-shrink: 0;
    padding: 0.3125rem;
}

.main-set-carousel{
    position: relative;
    display: flex;
    flex-direction: column;
    top:13%;
    align-items: center;
    overflow-x: hidden;
    overflow-y: visible;

}


.card-carousel{
    display: flex;
    flex-direction: row;
    min-width: 2rem;
}

.next{
    background: none;
    width: 3rem;
    height: 3rem;
    border-radius: 2.1875rem;
    border: none;
}

.next:hover{
    background: #b5b5b5;
    color: white;
    border: 3px solid #b5b5b5;
    border-radius: 2.1875rem;
}

.prev{
    background: none;
    width: 3rem;
    height: 3rem;
    border-radius: 2.1875rem;
    border: none;
}

.prev:hover{
    background: #b5b5b5;
    color: white;
    border: 3px solid #b5b5b5;
    border-radius: 2.1875rem;
}

.next-card{
    background: none;
    width: 3rem;
    height: 3rem;
    border-radius: 2.1875rem;
    border: none;
}

.next-card:hover{
    background: #b5b5b5;
    color: white;
    border: 3px solid #b5b5b5;
    border-radius: 2.1875rem;
}

.prev-card{
    background: none;
    width: 3rem;
    height: 3rem;
    border-radius: 2.1875rem;
    border: none;
}

.prev-card:hover{
    background: #b5b5b5;
    color: white;
    border: 3px solid #b5b5b5;
    border-radius: 2.1875rem;
}

.set-image{
    width: 21.875rem;
    height: 15.625rem;
    border-radius: 0.9375rem;
    background-color: #ECE6F0;
    position: relative;
    z-index: -1;
}

.card-object{
    padding: 0 2rem 0 2rem;
    
}
.search-bar-section{
    display: flex;
    justify-content: center;
    top: 8%;
    position: relative;
}

.set-backdrop{
    width: 21.875rem;
    height: 15.625rem;
    background: linear-gradient(to top, rgb(0 0 0 / 0.4), transparent 40%);
    position: relative;
    border-radius: 0.9375rem;
    z-index: 0;
}

.card-name{
    text-align: center;
    text-wrap: balance;
}

.set-text{
    position: relative;
    top: 75%;
    left:10%;
    font-size: 1.75rem;
    font-weight: 700;
    color: white;
}

.sets-sliders{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    top: 14%;
}

@media(max-width:800px){
    .main-banner{
        width: 20.9375rem;
        left:10%;
    }

    .banner-image{
        width: 26.5625rem;
        height: 7.875rem;
    }

    .general-button {
        font-size: 1rem;
    }
}