.main-banner{
    position: relative;
    display: flex;
    top: 4%;
    width:100%;
    justify-content: center;
}

.banner-image{
    width: 580px;
    height: 172px;
    background-color: aqua;
}

.general-button {
    font-size: 24px;
    text-decoration: none;
    color: #2C2C2C;
    padding: 0 10px 0 10px
}

.options{
    position: relative;
    top:12%;
    display: flex;
    justify-content: center;
}

.main-set-carousel{
    position: relative;
    display: flex;
    flex-direction: column;
    top:13%;
    align-items: center;

}

.carousel-container{
    display: flex;
    flex-direction: row;
}

.set-image{
    width: 350px;
    height: 250px;
    border-radius: 15px;
    background-color: #ECE6F0;
    position: relative;
    z-index: -1;
}

.search-bar-section{
    display: flex;
    justify-content: center;
    top: 8%;
    position: relative;
}

.set-backdrop{
    width: 350px;
    height: 250px;
    background: linear-gradient(to top, rgb(0 0 0 / 0.4), transparent 40%);
    position: relative;
    border-radius: 15px;
    z-index: 0;
}



@media(max-width:800px){
    .main-banner{
        width: 335px;
        left:10%;
    }
}